{% extends 'layout.html.twig' %}

{% block content %}
<main>
    <h1>Category : {{ category.categoryName }}</h1>
    <ul>
        <li>Id : {{ category.idcategory }}</li>
    </ul>
    <a href='../category'>Back to list</a>
</main>
{% endblock %}
